name: build_linux_x86

on:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Linux x86_64
    runs-on: ubuntu-latest
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      # Runs a set of commands using the runners shell
      - name: Build commands
        working-directory: ./src
        env:
          PORTABLE: "1"
        run: |
          chmod u+x ./build_linux_x86.bash
          ./build_linux_x86.bash
          ../bin/reseek -h >/dev/null

      - name: Upload binary artifact
        uses: actions/upload-artifact@v6
        with:
          name: reseek-linux-x86
          path: ${{ github.workspace }}/bin/reseek
          if-no-files-found: error
